.ship-orders {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    min-height: 70vh;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    overflow-x: auto;
}

.ship-orders h2 {
    padding-bottom: 0.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: solid 2px var(--dark-blue);
    margin-bottom: 0.5rem;
}

.ship-orders table {
    border-collapse: collapse;
    border: solid 1px black;
    direction: rtl;
    margin-top: 1rem;
}

.ship-orders th,
.ship-orders td,
.ship-orders tr {
    border: solid 1px black;
    border-collapse: collapse;
}

.ship-orders td {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.ship-orders th {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 1.2rem;
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.area-name {
    background-color: var(--dark-blue);
    color: white;
    font-weight: 600;
}

.branch-name {
    font-weight: 600;
    background-color: var(--light-green);
    color: var(--dark-blue);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.open-order-for-supp {
    border: none;
    font-family: var(--main-font);
    color: var(--light-blue);
    background-color: var(--dark-blue);
    font-size: 1rem;
    font-weight: 600;
    padding-top: .5rem;
    padding-bottom: .5rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.open-order-for-supp:hover {
    color: var(--dark-blue);
    background-color: var(--light-blue);
}

.no-orders {
    color: gray;
    margin: 0;
}