html {
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --main-font: "Lunasima", sans-serif;
    --extra-font: "Rubik", sans-serif;
    --english-font: "Montserrat", sans-serif;
    --light-color: rgb(176, 212, 236);

    --dark-blue: #074173;
    --medium-blue: #1679AB;
    --light-blue: #5DEBD7;
    --light-green: #C5FF95;

    font-family: var(--main-font);
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
}

.sucsess-msg {
    color: green;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
    direction: rtl;
}

.err-msg {
    color: red;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
    direction: rtl;
}

.app {
    min-height: 100vh;
    box-sizing: border-box;
}

footer {
    text-align: center;
    padding: 0.5rem;
    color: var(--dark-blue);
    font-family: var(--english-font)
}

button {
    font-family: var(--main-font);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.popup-inner {
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem;
    max-width: 95vw;
    max-height: 95vh;
    overflow-y: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    direction: rtl;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: var(--dark-blue);
    font-size: 2rem;
    font-weight: 800;
    padding: 0.5rem;
    margin: 0;
    transition: ease 0.3s;
    font-family: var(--english-font);
    cursor: pointer;
}

.close-btn:hover {
    background-color: var(--light-blue);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.popup-inner::-webkit-scrollbar {
    width: 12px;
}

.popup-inner::-webkit-scrollbar-track {
    background: var(--light-color);
}

.popup-inner::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 10px;
    border: 2px solid var(--light-color);
}

.popup-inner::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
}