.create-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
    padding-right: 3rem;
    padding-bottom: 1rem;
    overflow-y: hidden;
}

.equpment-cats {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    overflow-y: auto;
    padding-left: 3rem;
    margin-top: 3rem;
    gap: 10px;
    height: auto;
}

.equpment-cats-column {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
    height: auto;
}

.equpment-cats::-webkit-scrollbar {
    width: 12px;
}

.equpment-cats::-webkit-scrollbar-track {
    background: var(--light-color);
    border-bottom: 1px solid var(--dark-blue);
}

.equpment-cats::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 10px;
    border: 2px solid var(--light-color);
}

.equpment-cats::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
}