.create-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80vh;
    padding-right: 3rem;
    padding-bottom: 1rem;
    overflow: hidden;
}

.equpment-cats {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    overflow-y: auto;
    padding-left: 3rem;
    margin-top: 3rem;
    gap: 10px;
}

.equpment-cats-column {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
}